<%- include('../../partials/header.ejs', {title: 'explorer'}) %> 

<div class="container my-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card card-body">
                <div class="d-flex">
                    <div>
                        <img src="<%= author.profilePics %> " class="img-thumbnail img-fluid">
                    </div>
                    <div class="ml-3">
                        <p>Name: <strong><%= author.profile.name %> </strong></p>
                        <p>Title: <strong><%= author.profile.title %> </strong></p>
                        <p>Bio: <%= author.profile.bio %></p>
    
                        <div>
                            Social Links : 
                            <% if (author.profile.links.website) { %>
                                <span>
                                    <a href="<%= author.profile.links.website %>" target="_blank">
                                        <i class="fas fa-globe"></i>
                                    </a>
                                </span>
                            <% } %>
                            <% if (author.profile.links.facebook) { %>
                                <span>
                                    <a href="<%= author.profile.links.facebook %>" target="_blank">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </span>
                            <% } %>
                            <% if (author.profile.links.twitter) { %>
                                <span>
                                    <a href="<%= author.profile.links.twitter %>" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </span>
                            <% } %>
                            <% if (author.profile.links.github) { %>
                                <span>
                                    <a href="<%= author.profile.links.github %>" target="_blank">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %> 


</body>
</html>